<div id="startPage" class="page w-md gap-lg">
  <div class="flex-col">
    <h1 class="text-lg">ゴリラを探せ</h1>
    <div class="text-md">ゴリラを見つけたらクリックしてね</div>
  </div>
  <div class="flex-col">
    <%= link_to 'スタート', quiz_pages_path, class: 'button text-md', id: 'startButton' %>
  </div>
</div>
