<div id="startPage" class="page w-md gap-lg">
  <div class="flex-col">
    <h1 class="text-lg">65期クイズアプリ</h1>
    <div class="text-md">同期がテーマのクイズアプリです。</div>
  </div>
  <div class="flex-col">
    <button type="button" id="startButton" class="button text-md">
      プレイする
    </button>
  </div>
</div>
